.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  position: relative;
}

.inner .imageContainer {
  background-color: #f5f5f5;
  border-radius: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inner .imageContainer img {
  width: 100%;
  object-fit: contain;
}
.inner .content {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}
.inner .content h3 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 28px;
  margin: 0px;
  cursor: pointer;
}
.inner .content h2 {
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  color: #ed0f0f;
  margin: 0px;
  cursor: pointer;
}
.inner .content h3:hover {
  color: #fd5b25 !important;
  cursor: pointer;
  transform: all 0.6s ease;
}
/* .inner
  .imageContainer:hover
  + .sidebar,
.inner .sidebar:hover {
  opacity: 1;
  visibility: visible;
} */

.inner .sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 40%;
  right: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s
      ease,
    visibility 0.3s ease;
}
.inner:hover .sidebar {
  opacity: 1;
  visibility: visible;
  right: 0; /* Slide into view */
}
.inner .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  opacity: 0; /* Initially hidden */
  transform: translateX(50px);
}
.inner .icon svg {
  stroke: #000;
}
.inner .icon:hover {
  background-color: #ed0f0f;
  transition: all 0.3 ease;
}
.inner .icon:hover svg {
  stroke: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(
      50px
    );
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.inner:hover
  .icon:nth-child(1) {
  animation: fadeIn 0.3s
    ease-out forwards;
  animation-delay: 0.3s;
}

.inner:hover
  .icon:nth-child(2) {
  animation: fadeIn 0.3s
    ease-out forwards;
  animation-delay: 0.5s;
}

.inner:hover
  .icon:nth-child(3) {
  animation: fadeIn 0.3s
    ease-out forwards;
  animation-delay: 0.7s;
}
@media (max-width: 992px) {
  .inner .content h3 {
    font-size: 14px;
  }
  .inner .content h2 {
    font-size: 13px;
  }
  .inner .sidebar {
    top: 38%;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .inner .content {
    gap: 5px;
  }
  .inner .content h3 {
    font-size: 12px;
  }
  .inner .content h2 {
    font-size: 11px;
  }
}
