.main {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(
      -100%
    ); /* Starts off-screen from the top */
  }
  100% {
    transform: translateY(
      0
    ); /* Ends at its normal position */
  }
}

.visible {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  animation: slideInFromTop
    0.7s ease-out; /* Applying the animation */
  box-shadow: rgba(
      0,
      0,
      0,
      0.24
    )
    0px 3px 8px;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 20px;
  width: 100%;
}

.inner .logo {
  width: 10%;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img {
  object-fit: contain;
  width: 100%;
}

.inner .menuitems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78%;
}
.menuitems ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}

.menuitems ul li {
  font-size: 17px;
  font-weight: 600;

  color: #000000;
  cursor: pointer;
}

.icons {
  width: 12%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: row;
  gap: 10px;
}
.icons ul li {
  cursor: pointer;
}
.icons ul li:last-child {
  position: relative;
}
.icons ul li svg {
  stroke: #000;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ed0e0e;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(40%);
}
.humburger {
  visibility: hidden;
  opacity: 0;
}
/* .manubar {
  visibility: hidden;
  opacity: 0;
} */
@media (max-width: 768px) {
  .humburger {
    visibility: visible;
    opacity: 1;
    color: #000;
  }
  .manubar {
    display: flex;
    padding: 5px;
    justify-content: start;
    flex-direction: column;
    background-color: #fff;
    width: 80%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    align-items: start;
    background-color: #fff;
    display: none;
    box-shadow: rgba(
        100,
        100,
        111,
        0.2
      )
      0px 7px 29px 0px;

    border-radius: 10px;
    /* padding: 10px; */
    height: 100%;
  }
  .manubar.open {
    display: flex !important; /* Ensure it's visible */
  }
  .manuList {
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* gap: 10px; */
    align-items: start;
    width: 100%;
    padding-left: 5px;
  }
  .manuList li {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    padding: 10px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    width: 100%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border-bottom: 1px solid
      #ededed;
  }
  .menuitems {
    visibility: hidden;
    opacity: 0;
  }
  .inner .logo {
    visibility: visible;
    opacity: 1;
    width: 80px;
    height: 40px;
    margin-left: 50px;
    display: none;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
  }
  .buttonContainer .first {
    width: 50%;
    border-bottom: 1px solid
      #dee2e6;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    height: 50px;
  }
  .buttonContainer
    .first
    span
    svg {
    stroke: #fff;
  }
  .buttonContainer .second {
    width: 50%;
    border-bottom: 1px solid
      #dee2e6;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 15px;
    border-radius: 10px;
    height: 50px;
  }
  .buttonContainer
    .second
    span
    svg {
    stroke: #000;
  }
  .icons {
    width: 40%;
    margin: 0px;
    justify-content: end;
    display: flex;
  }
  .icons ul {
    margin: 0px;
  }
  .inner .menuitems {
    display: none;
  }
  .icons ul li:nth-last-child(1) /* Last item */ {
    /* Second last item */
    /* display: none; */
  }
  .icons ul li:nth-last-child(2) /* Last item */ {
    /* Second last item */
    display: none;
  }
  .icons ul li:nth-last-child(3) /* Last item */ {
    /* Second last item */
    display: none;
  }
  .icons ul li:nth-last-child(4) /* Last item */ {
    /* Second last item */
    display: none;
  }
}
