.main {
  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.inner {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.inner .posterComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  position: relative;
  width: 100%;

  z-index: 1;
}

.inner
  .posterComponent::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: url('/Images/poster.webp')
    no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}
.carousleComponent {
  height: 100vh;
  position: relative;
}

.carousleComponent
  .componentContent {
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%);
}
.carousleComponent
  .componentContent
  h1 {
  font-size: 60px;
  line-height: normal;
  margin: 0px;
  font-weight: 400;
  color: #000;
  font-family: 'Marcellus',
    serif !important;
  margin-bottom: 10px;
}
.carousleComponent
  .componentContent
  p {
  font-size: 20px;
  line-height: normal;
  margin: 0px;
  font-weight: 500;
  color: #000;
  font-family: 'Marcellus',
    serif !important;
}
.carousleComponent
  .componentContent
  button {
  display: flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #000;
  font-family: 'Marcellus',
    serif !important;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.carousleComponent
  .componentContent
  button:hover {
  background-color: #7d7b7b;
  border: 1px solid #7d7b7b;
  color: #fff;
}
.inner .secondComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.secondComponent
  .logoComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.secondComponent
  .logoComponent
  .imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
}
.logoComponent
  .imageContainer
  img {
  width: 100%;
  object-fit: contain;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logoComponent
  .imageContainer
  img:hover {
  opacity: 1;
  cursor: pointer;
}
