.main {
  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.inner {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.inner .posterComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  position: relative;
  width: 100%;

  z-index: 1;
}

.inner
  .posterComponent::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: url('/Images/poster.webp')
    no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}
.carousleComponent {
  height: 100vh;
  position: relative;
}

.carousleComponent
  .componentContent {
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%);
}
.carousleComponent
  .componentContent
  h1 {
  font-size: 60px;
  line-height: normal;
  margin: 0px;
  font-weight: 400;
  color: #000;
  font-family: 'Marcellus',
    serif !important;
  margin-bottom: 10px;
}
.carousleComponent
  .componentContent
  p {
  font-size: 20px;
  line-height: normal;
  margin: 0px;
  font-weight: 500;
  color: #000;
  font-family: 'Marcellus',
    serif !important;
}
.carousleComponent
  .componentContent
  button {
  display: flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #000;
  font-family: 'Marcellus',
    serif !important;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.carousleComponent
  .componentContent
  button:hover {
  background-color: #7d7b7b;
  border: 1px solid #7d7b7b;
  color: #fff;
}
.inner .secondComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.secondComponent
  .logoComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.secondComponent
  .logoComponent
  .imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
}
.logoComponent
  .imageContainer
  img {
  width: 100%;
  object-fit: contain;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logoComponent
  .imageContainer
  img:hover {
  opacity: 1;
  cursor: pointer;
}

.collection {
  width: 95%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(
      99,
      99,
      99,
      0.2
    )
    0px 2px 8px 0px;
  margin: 10px;
  border-radius: 8px;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 1px 4px
    #0000001a;
  transition: background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.collection h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  color: #111;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.collection h3::before {
  content: '';
  width: 50%;
  height: 2px;
  background: #fd5b25;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(
    -50%
  );
  transform: translate(-50%);
  bottom: 0;
}

.collection
  .collectionContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.collectionContent
  .collectionCards {
  flex-direction: column;
  width: 14%;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collectionContent
  .collectionCards
  .imageContainer {
  display: flex;
  width: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e2;
  background-color: #bfbfbf;
  position: relative;
}
.collectionContent
  .collectionCards
  .imageContainer:hover {
  background-color: #bfbfbf;
}
.collection
  .collectionCards
  h2 {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.collectionCards
  .imageContainer
  img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.6s
    ease-in-out;
}
.collectionCards
  .imageContainer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #00000040;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.collectionCards
  .imageContainer:hover::before {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition: all 0.3s ease;
}
.collectionCards
  .imageContainer:hover
  img {
  transform: scale(1.1);
}
.collectionCards h2:hover {
  color: #fd5b25 !important;
  cursor: pointer;
  transform: all 0.6s ease;
}
.VideoSlider {
  width: 100%;
  display: flex;
  justify-content: center;
}
