.main {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: #faf7f5;
  height: 100vh;
}
.inner {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  height: 100%;
}
.inner .firstMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.firstMain .firstInner {
  display: flex;
  width: 45%;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 50px;
  background-color: #faf7f5;
  box-shadow: rgba(
      0,
      0,
      0,
      0.1
    )
    0px 4px 12px;
  border-radius: 10px;
  padding: 30px;
}
.firstMain .firstInner h1 {
  font-size: 30px;
  color: #000;
  line-height: normal;
  font-weight: 600;
  font-family: 'Marcellus',
    serif;
}

.firstInner
  .firstCardContainer {
  display: flex;

  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.firstInner
  .firstCardContainer
  .card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(
      0,
      0,
      66,
      0.06
    )
    0px 0px 12px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border: 1px solid #a9a9a9;
  cursor: pointer;
}
.firstCardContainer
  .card
  .left {
  border-radius: 15px;

  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstCardContainer
  .card
  .left
  img {
  object-fit: cover;
}
.firstCardContainer
  .card
  .right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: calc(100% - 35px);
}
.firstCardContainer
  .card
  .right
  .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-direction: column;
}
.firstCardContainer
  .card
  .right
  svg {
  stroke: #000;
}
.firstCardContainer
  .card
  .right
  .content
  button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.firstCardContainer
  .card
  .right
  .content
  p {
  font-size: 14px;
  font-weight: 500;
  color: #a9a9a9;
}
/* .inner .firstMain button {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  color: black;
  font-size: 12px;
} */
/* 

Second Step */

.inner .secondMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.secondMain .secondInner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}
.secondInner h1 {
  font-size: 30px;
  color: #333368;
  line-height: normal;
  font-weight: 600;
  font-family: 'Marcellus',
    serif;
}

.secondInner
  .OptionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  padding: 50px 200px;
}
.secondInner
  .OptionContainer
  .optionCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  border-radius: 7px;
  border: 1px solid #000;
  height: 280px;
  cursor: pointer;
}
.secondInner
  .OptionContainer
  .optionCard
  svg {
  stroke: #000;
}
.secondInner
  .OptionContainer
  .optionCard
  h2 {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}
.inner .thiredMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.thiredMain .thiredInner {
  display: flex;
  width: 50%;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 50px;
  background-color: #faf7f5;
  box-shadow: rgba(
      0,
      0,
      0,
      0.1
    )
    0px 4px 12px;
  border-radius: 10px;
  padding: 30px;
}
.thiredMain .thiredInner h1 {
  font-size: 30px;
  color: #333368;
  line-height: normal;
  font-weight: 600;
  font-family: 'Marcellus',
    serif;
}

.thiredMain
  .thiredInner
  .thiredCardContainer {
  display: flex;

  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 33%;
  cursor: pointer;
}
.thiredMain
  .thiredInner
  .thiredCardContainer
  .ContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thiredMain
  .thiredInner
  .thiredCardContainer
  .ContentContainer
  h2 {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.thiredMain
  .thiredInner
  .thiredCardContainer
  .card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(
      0,
      0,
      66,
      0.06
    )
    0px 0px 12px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border: 1px solid #a9a9a9;
  cursor: pointer;
}
.thiredCardContainer
  .card
  .cardContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.thiredCardContainer
  .card
  .cardContent
  .buttonContainer {
  display: flex;
  width: 100%;
  padding: 0px 20px;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  align-items: start;
}
.thiredCardContainer
  .card
  .cardContent
  .buttonContainer
  p {
  font-size: 20px;
  font-weight: 500;
  color: #333368;
  line-height: 25px;
  font-family: 'Lora', serif;
}
.thiredCardContainer
  .card
  .cardContent
  .buttonContainer
  svg {
  stroke: #333368;
}
.thiredCardContainer
  .card
  .cardContent
  .contentList {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: flex-start;
  gap: 5px;
}
.thiredCardContainer
  .card
  .cardContent
  .contentList
  .list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: flex-start;
  list-style-type: none;
  gap: 2px;
}
.thiredCardContainer
  .card
  .cardContent
  .contentList
  .list
  li {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #565684;
  font-family: 'Lora', serif;
}
.thiredCardContainer
  .card
  .cardContent
  .total {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(247, 241, 222, 0) 0%,
    rgb(255, 244, 205) 100%
  );
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.thiredCardContainer
  .card
  .cardContent
  .total
  h2 {
  font-size: 20px;
  font-weight: 500;
  color: #333368;
  line-height: normal;
  font-family: 'Lora', serif;
}
.inner .thiredMain button {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  color: black;
  font-size: 12px;
}
.inner .thiredMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.inner .thiredMain button {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  color: black;
  font-size: 12px;
}

/* Forth step */

.forthMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.forthMain .forthInner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  height: 100%;
}
.forthMain .forthInner h1 {
  font-size: 30px;
  color: #333368;
  line-height: normal;
  font-weight: 600;
  font-family: 'Marcellus',
    serif;
}
.forthInner .formContainer {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 40px auto 0;
  min-width: 62%;
  max-width: 700px;
  border: 1px solid #000;
}
.forthInner
  .formContainer
  table {
  border-spacing: 1rem;
  table-layout: fixed;
  border-collapse: unset;
  box-shadow: none;
  width: 100%;
}
.forthInner
  .formContainer
  table
  thead
  tr {
  margin-bottom: 1rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.forthInner
  .formContainer
  table
  thead
  tr
  td {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.forthInner
  .formContainer
  table
  tbody {
  width: 100%;
}
.forthInner
  .formContainer
  table
  tbody
  tr {
  margin-bottom: 1rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.forthInner
  .formContainer
  table
  tbody
  tr
  td {
  font-size: 15px;
  color: #000;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.forthInner
  .formContainer
  table
  tbody
  tr
  td
  option {
  cursor: pointer;
}
.forthInner
  .formContainer
  table
  tbody
  tr
  td:first-child {
  font-size: 15px;
  font-weight: 600;
  color: #000 !important;
  justify-content: start;
  align-items: start;
}
.forthInner
  .formContainer
  table
  tbody
  tr
  .lastTd {
  width: 100%;
  text-align: start;
  display: flex;
  justify-content: start;
}
.forthInner
  .formContainer
  table
  tbody
  tr
  .lastTd
  select {
  padding-right: 60px;
  width: 100%;
}
.forthInner
  .formContainer
  table
  tbody
  tr
  .checkBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.forthInner
  .formContainer
  table
  tbody
  tr
  td
  select {
  border-bottom: 1px solid
    #000;
}
.forthInner .buttonWrapper {
  padding: 0px 10px;
  /* margin: 40px auto 0; */
  min-width: 70%;
  max-width: 700px;
}
.forthInner
  .filenameContainer {
  /* margin: 40px auto 0; */
  min-width: 70%;
  max-width: 700px;
  display: flex;
  justify-content: end;
}
.fileNameContainer {
  width: 100%;
  padding: 0px 40px;
  height: 30px;
  display: flex;
  justify-content: end;
}
.forthInner .buttonWrapper p {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.forthInner
  .buttonWrapper
  button {
  width: 100%;
  pad: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 7px;
  border: 1px solid #000;
  color: #000;
  background-color: transparent;
  height: 56px;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
}
.forthInner
  .buttonWrapper
  button
  span {
  position: absolute;
  left: 2%;
}
.forthInner
  .mobileFormContainer {
  display: none;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 20px;
  align-items: end;
}
.buttonContainer button {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.thiredInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.thiredCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 7px;
}
.thiredCardContainer
  .ImageContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.thiredCardContainer
  .ImageContainer
  img {
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
  border-radius: 10px;
}

.backButton {
  position: fixed;
  top: 13%;
  left: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.backButton svg {
  stroke: #000;
}
.pdContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.singlePd {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: start;
  align-items: start;
}

.singlePd {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
}
.singlePd select {
  padding-right: 0px !important;
}
.singlePd label {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
@media (max-width: 1400px) {
  .main {
    height: 100%;
  }
  .inner .firstMain {
    padding: 50px;
  }
  .inner .thiredMain {
    padding: 100px 50px;
  }
}
@media (max-width: 992px) {
  .main {
    height: 100vh;
  }
  .thiredMain .thiredInner {
    width: 100%;
  }
  .firstMain .firstInner {
    width: 70%;
  }
  .firstInner
    .firstCardContainer {
    width: 100%;
  }
  /* 
  Second Step */
  .secondMain {
    height: 100vh;
  }

  .secondInner
    .OptionContainer {
    padding: 0px !important;
  }
}
@media (max-width: 768px) {
  .main {
    height: 100%;
  }
  .inner .thiredMain {
    width: 100%;
    padding: 20px;
    height: 100%;
  }
  .thiredMain .thiredInner {
    width: 100%;
    gap: 10px;
    padding: 0px;
    margin: auto;
  }
  .thiredMain
    .thiredInner
    .thiredCardContainer {
    height: 200px;
  }
  .thiredMain
    .thiredInner
    h1 {
    font-size: 25px;
  }
  .thiredCardContainer
    .card
    .cardContent
    .buttonContainer
    p {
    font-size: 17px;
  }
  .thiredCardContainer
    .card
    .cardContent
    .contentList
    .list
    li {
    font-size: 13px;
  }
  .thiredCardContainer
    .card
    .cardContent
    .total
    h2 {
    font-size: 16px;
  }
  .firstMain .firstInner {
    width: 100%;
    padding: 20px;
  }
  .inner .firstMain {
    padding: 20px;
  }
  .firstMain .firstInner h1 {
    font-size: 25px;
  }
  .firstCardContainer
    .card
    .right
    .content
    button {
    font-size: 12px;
  }
  .firstCardContainer
    .card
    .right
    .content
    p {
    font-size: 12px;
    margin: 0px;
  }
  /* Second Step */
  .secondInner h1 {
    font-size: 25px;
  }
  .secondInner
    .OptionContainer
    .optionCard {
    height: 200px;
    width: 50%;
  }

  .secondInner
    .OptionContainer
    .optionCard
    svg {
    width: 30px;
    height: 30px;
  }
  .secondInner
    .OptionContainer
    .optionCard
    h2 {
    font-size: 20px;
  }
  /* Fourth strp */

  .forthInner .formContainer {
    display: none;
  }
  .forthMain .forthInner h1 {
    font-size: 20px;
  }
  .forthInner
    .mobileFormContainer {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    /* margin: 40px auto 0; */
    min-width: 100%;
    max-width: 700px;
    border: 1px solid #000;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .forthInner
    .mobileFormContainer
    .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: START;
  }
  .forthInner
    .mobileFormContainer
    .row
    .columnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .forthInner
    .mobileFormContainer
    .row
    .columnContainer
    .column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    width: 33%;
  }
  .forthInner
    .mobileFormContainer
    .row
    .columnContainer
    .column
    label {
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }
  .forthInner
    .mobileFormContainer
    .row
    .columnContainer
    .column
    select {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #000;
  }
  .forthInner
    .mobileFormContainer
    .row
    h2 {
    font-size: 15px;
    font-weight: 600;
    color: #000;
  }
  .forthInner
    .mobileFormContainer
    .devider {
    background: #dfe3e8;
    margin: 1rem auto;
    height: 1px;
    display: block !important;
    width: 100%;
  }
  .forthInner .buttonWrapper {
    padding: 0px !important;
  }
  .forthInner
    .mobileFormContainer
    .pupilDistance {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    gap: 5px;
  }
  .forthInner
    .mobileFormContainer
    .pupilDistance
    h2 {
    font-size: 15px;
    font-weight: 600;
    color: #000;
  }
  .forthInner
    .mobileFormContainer
    .pupilDistance
    select {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 50%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #000;
  }
  .forthInner
    .mobileFormContainer
    .pupilDistance
    .innerPupil {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-direction: row;
  }
  .forthInner
    .mobileFormContainer
    .pupilDistance
    .innerPupil
    p {
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }
  .forthInner
    .filenameContainer {
    width: 100%;
  }
  .forthMain .forthInner {
    gap: 10px;
  }
}
